body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
}

header {
    background-color: #273c75;
    color: white;
    padding: 25px;
    text-align: center;
}

header input {
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    border: none;
}

.filters {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.filters select {
    padding: 8px;
    margin: 5px;
}

.quiz {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-left: 6px solid #273c75;
}

button {
    padding: 8px 15px;
    background-color: #273c75;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.score {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: #273c75;
    color: white;
    text-align: center;
    padding: 10px;
}
